<section class="relative">
  <img
    src="./public/assets/images/icons/feature-shape.svg"
    alt=""
    class="pointer-events-none absolute left-4 top-4 hidden w-40 md:block"
  />
  <div class="container relative">
    <div class="grid gap-8 text-center lg:grid-cols-2 lg:text-left">
      <div data-animate>
        <h2 class="section-heading">The Highlighting Part Of Our Solution</h2>
      </div>
      <div data-animate class="lg:pl-8">
        <p class="text-lg text-[#4B5563]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas erat viverra id aliquet vulputate egestas sollicitudin.
        </p>
      </div>
    </div>

    <div class="mt-12 grid gap-6 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Live Caption</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-1.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Smart Reply</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-2.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Sound Amplifier</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-3.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Gesture Navigation</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-4.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Dark Theme</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-5.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Privacy Controls</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-6.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Location Controls</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-7.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Security Updates</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-8.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Focus Mode</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-9.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
      <article class="feature-card" data-animate>
        <div>
          <h3 class="text-xl font-semibold">Family Link</h3>
          <p class="mt-3 text-sm text-[#666]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img src="./public/assets/images/icons/feature-icon-10.svg" alt="" class="mt-6 h-12 w-12" />
      </article>
    </div>
  </div>
</section>

